@CHARSET "UTF-8";

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    margin-bottom: 0;
    border-radius 0;
}

.navbar-brand {
    letter-spacing: 2px;
}

.navbar-inverse {
    background-color: #3498DB;
    border-color: #2980B9;
}

.navbar-inverse .navbar-nav > li {
    border-left: 1px solid #2980B9;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #FFF;
}

.navbar-inverse .navbar-nav > li > a {
    font-weight: 500;
}

.navbar-inverse .navbar-brand {
    font-weight: 700;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover {
    background-color: #2980B9;
}

.navbar-inverse .navbar-toggle {
    border-color: #2980B9;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #2980B9;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #2980B9;
}

.uppercase {
    text-transform: uppercase;
}

.navbar ul {
    padding-top: 15px;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
    color: white;
}
.navbar a {
    color: white;
}
.additional-info-row > td, .additional-info-row > th {
    border-top: none !important;
}

.source-thumbs .thumbnail {
    text-align: center;
    height: 150px;
    position: relative;
}

.source-thumbs label {
    margin: 0;
    margin-top: 10px;
}

.source-thumbs .login {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 80%;
}
.stripe {
    background-color: #f9f9f9;
}

.associations .thumbnail {
	margin: 0px;
	margin-bottom: 4px;
	text-align: center;
	border-style: none;
}