.navbar {
	border-radius: 0 !important;
}
#citation ul, #citation li {
	margin-left: 0 !important;
	padding-left: 0 !important;
}
#citation h4 {
	margin-top: 2em;
	margin-bottom: 1em;
}
#citation {
	margin-bottom: 5em;
	max-width: 800px;
}
#citation label {
  cursor: default;
  display: inline-block;
  width: 180px;
}
#citation li {
  list-style-type: none;
  margin-bottom: 0.2em;
}
#citation pre {
  font-family: inherit;
}

#citation .button {
  background: #f0f0f0;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #b5b5b5);
  background-image: -moz-linear-gradient(top, #f0f0f0, #b5b5b5);
  background-image: -ms-linear-gradient(top, #f0f0f0, #b5b5b5);
  background-image: -o-linear-gradient(top, #f0f0f0, #b5b5b5);
  background-image: linear-gradient(to bottom, #f0f0f0, #b5b5b5);
  border-radius: 3px;
  border: solid #d4d4d4 2px;
  text-decoration: none;
  margin-left: 5em;
  display: inline-block;
  color: rgb(70,70,70);
}

#citation .button:hover {
  background: #e6e6e6;
  background-image: -webkit-linear-gradient(top, #e6e6e6, #bfbfbf);
  background-image: -moz-linear-gradient(top, #e6e6e6, #bfbfbf);
  background-image: -ms-linear-gradient(top, #e6e6e6, #bfbfbf);
  background-image: -o-linear-gradient(top, #e6e6e6, #bfbfbf);
  background-image: linear-gradient(to bottom, #e6e6e6, #bfbfbf);
}
#citation .filename {
	font-family: monospace;
	padding: 1em;
}
#citation .button img {
    vertical-align:  middle;
}

#citation .citationInstructions {
  background: #e6e6e6;
  border: 1px solid grey;
  display: block;
  width: 100%;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
#citation pre {
  max-height: none;
}

a#excelHelpLink {
	margin-left: 1em;
}


#public-login ul li {
	list-style-type: none;
	margin: 2em;
}

.form-group.required label:after { 
    color: #d00;
    content: "*";
    margin-left: 8px;
    top:7px;
}

body {
	padding-bottom: 5em;
}